.word {
    font-family: "EBGaramond-Medium", Arial, sans-serif;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    width: fit-content
}

.carpenter {
    margin: 2rem;
    padding-top: 2rem;
}

.carpenterBox {
    min-width: 25rem;
    display: flex;
    justify-content: center;
    background-color: rgb(188, 205, 243);
}

@font-face {
    font-family: "EBGaramond-Medium";
    src: url("fonts/EB_Garamond/static/EBGaramond-Medium.ttf") format("truetype");
}