.word {
    font-family: "ChunkLatin", Arial, sans-serif;
    font-size:1.5em;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    width: fit-content
}

.cobbing {
    padding-left: 33%;
    padding-top: 10%
}

.cobbingBox {
    margin-left: 10%;
    margin-right: auto;
    width: 40rem;
    height: 40rem;
    background-color: rgb(243, 224, 194);
}

@font-face {
    font-family: "ChunkLatin";
    src: url("latin/OPTILatin-Wide.otf") format("opentype");
}