.word {
    font-family: "CourierPrime-Regular", Arial, sans-serif;
    font-size:1.5em;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    width: fit-content
}

.naylor {
    margin: 2rem;
    padding-top: 2rem;
}

.naylorBox {
    min-width: 25rem;
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 219);
}

@font-face {
    font-family: "CourierPrime-Regular";
    src: url("fonts/Courier_Prime/CourierPrime-Regular.ttf") format("truetype");
}